.ui.grid.centered(v-if="current")
    .three.wide.column
        h5.ui.header Attack ranges
        sui-progress(indicating, :percent="(ship_damage_perc[1]|0)", size="tiny", :label="'I:   ' + String(ship_damage[1]|0)")
        sui-progress(indicating, :percent="(ship_damage_perc[2]|0)", size="tiny", :label="'II: ' + String(ship_damage[2]|0)")
        sui-progress(indicating, :percent="(ship_damage_perc[3]|0)", size="tiny", :label="'III: ' + String(ship_damage[3]|0)")
        sui-progress(indicating, :percent="(ship_damage_perc[4]|0)", size="tiny", :label="'IV:  ' + String(ship_damage[4]|0)")
        sui-progress(indicating, :percent="(ship_damage_perc[5]|0)", size="tiny", :label="'V:   ' + String(ship_damage[5]|0)")
    .three.wide.column
        h5.ui.header Skill pools
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Pilot '       + String(crew_pool.pilot|0) + '/' + String(ship_stats.skill_pilot|0)")
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Ship Ops '    + String(crew_pool.shipops|0) + '/' + String(ship_stats.skill_shipops|0)")
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Gunnery '     + String(crew_pool.gunnery|0) + '/' + String(ship_stats.skill_gunnery|0)")
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Electronics ' + String(crew_pool.electronics|0) + '/' + String(ship_stats.skill_electronics|0)")
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Navigation '  + String(crew_pool.navigation|0) + '/' + String(ship_stats.skill_navigation|0)")
    .three.wide.column
        h5.ui.header Crew
        // handling smaller barracks, whatever
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Officers '       + String(crew_pool.pilot|0) + '/' + String(ship_stats.officers|0)")
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Crew '    + String(crew_pool.shipops|0) + '/' + String(ship_stats.crew|0)")
        sui-progress(indicating, :percent="(crew_ship_pool_perc.gunnery|0)", size="tiny", :label="'Crafts '    + String(crew_pool.shipops|0) + '/' + String(ship_stats.craft|0)")



    mixin entry(name, value)
        .item
            .right.floated.content= value
            .content= name

    mixin entry_max(name, value, max)
        .item
            .right.floated.content(v-bind:class=`{red: ${value} > ${max}}`)= `{{${value}}} / {{${max}}}`
            .content= name

    .two.wide.column
        h5.ui.header Stats
        .ui.list
            +entry_max("mass", "ship_stats.mass", "current.basemass")
            +entry("hull", "{{ship_stats.hull}}")
            +entry("fuel", "{{ship_stats.fuel}}")
            +entry("shield", "{{ship_stats.shield}}")
            +entry("medical", "{{ship_stats.medical}}")
            +entry("passengers", "{{ship_stats.passengers}}")
            +entry("prisoners", "{{ship_stats.prisoners}}")
            +entry("armor", "{{ship_stats.armor}}")
